In [4]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [9]:
x=dict1["april_batch"]
x

{'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}

In [14]:
keys=list(dict1.keys())
keys

['april_batch']

In [17]:
keys=list(dict1.values())
keys

[{'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}]

In [19]:
items=list(dict1.items())
items

[('april_batch',
  {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}})]

In [20]:
del dict1

In [23]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [56]:
dict1

{'april_batch': {'student': {'name': 'Mamatha',
   'marks': {'python': 80, 'maths': 70}}}}

In [29]:
#1.Access "Mike"
dict1['april_batch']['student']['name']

'Mike'

In [32]:
#2.access 80
dict1['april_batch']['student']['marks']['python']

80

In [60]:
#3.Change 'Mike' to "Your Name"
dict1['april_batch']['student']['name']='Mamatha'
dict1

{'april_batch': {'student': {'name': 'Mamatha',
   'marks': {'python': 80, 'maths': 70},
   'DL': 80}}}

{'april_batch': {'student': {'name': 'Mamatha',
   'marks': {'python': 80, 'maths': 70},
   'DL': 80}}}

In [48]:
del dict1['april_batch']['student']['ML']

KeyError: 'ML'

In [55]:
dict1

{'april_batch': {'student': {'name': 'Mamatha',
   'marks': {'python': 80, 'maths': 70}}}}

In [61]:
del dict1['april_batch']['student']['DL']
dict1

{'april_batch': {'student': {'name': 'Mamatha',
   'marks': {'python': 80, 'maths': 70}}}}

In [63]:
#4.Add DL=80 inside marks
dict1['april_batch']['student']['marks']['DL']=80
dict1

{'april_batch': {'student': {'name': 'Mamatha',
   'marks': {'python': 80, 'maths': 70, 'DL': 80}}}}

In [65]:
#4.Add ML=80 inside student
dict1['april_batch']['student']['ML']=80
dict1

{'april_batch': {'student': {'name': 'Mamatha',
   'marks': {'python': 80, 'maths': 70, 'DL': 80},
   'ML': 80}}}

In [66]:
dict1

{'april_batch': {'student': {'name': 'Mamatha',
   'marks': {'python': 80, 'maths': 70, 'DL': 80},
   'ML': 80}}}