In [5]:
list1 = [1,2,3,4.5,5.5,"maths","python",True,False]

In [6]:
list1

[1, 2, 3, 4.5, 5.5, 'maths', 'python', True, False]

In [8]:
list1.insert(2,"Mamatha")

In [9]:
list1

[1, 2, 'Mamatha', 3, 4.5, 5.5, 'maths', 'python', True, False]

In [10]:
list1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [11]:
name=["Mokey","buffalo","Tiger"]
name

['Mokey', 'buffalo', 'Tiger']

In [12]:
name.sort()

In [13]:
name

['Mokey', 'Tiger', 'buffalo']

In [14]:
number=[10,20,375,98,1,4,44]
number.sort()
number

[1, 4, 10, 20, 44, 98, 375]

In [18]:
del number[1]
number.reverse()
number

[375, 44, 1]

In [27]:
fruits=["orange","apple","Papaya","banana","Mamatha","lemon","orange"]
print("Fruits:", fruits)
fruits[2]="Watermelon"
print("Replace:",fruits)
fruits.insert(1,"raspberry")
fruits.sort()
print("Sort:",fruits)
del fruits[1]
print("Delete operation:", fruits)
fruits.append("mango")
print("Append:",fruits)
fruits.reverse()
print("Reverse",fruits)
fruits.remove('Mamatha')
print("Remove Mamatha",fruits)

Fruits: ['orange', 'apple', 'Papaya', 'banana', 'Mamatha', 'lemon', 'orange']
Replace: ['orange', 'apple', 'Watermelon', 'banana', 'Mamatha', 'lemon', 'orange']
Sort: ['Mamatha', 'Watermelon', 'apple', 'banana', 'lemon', 'orange', 'orange', 'raspberry']
Delete operation: ['Mamatha', 'apple', 'banana', 'lemon', 'orange', 'orange', 'raspberry']
Append: ['Mamatha', 'apple', 'banana', 'lemon', 'orange', 'orange', 'raspberry', 'mango']
Reverse ['mango', 'raspberry', 'orange', 'orange', 'lemon', 'banana', 'apple', 'Mamatha']
Remove Mamatha ['mango', 'raspberry', 'orange', 'orange', 'lemon', 'banana', 'apple']

In [29]:
fruits.count("orange")

2

In [31]:
fruits.clear()
print("Clear",fruits)

Clear []

In [32]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
print("list:",l1)

list: [10, 20, [30, 40, [50, 60], 80], 90, 100]

In [36]:
l1[2][2]=70
print("list:",l1)

list: [10, 20, [30, 40, 70, 80], 90, 100]

In [68]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1

[10, 20, [30, 40, [50, 60], 80], 90, 100]

In [73]:
l2=70
for idx, add_list in enumerate(l1[2][2]):
    l1.append(l2[idx])
    print(l1)

TypeError: 'int' object is not iterable

In [88]:
l3 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l3[3]

90

In [91]:
l3[3]

90

In [100]:
l3[2].insert(2,50)
l3

[10, 20, [30, 40, 50, 50, [50, 60], 80], 90, 50, 50, 100, 50]

In [98]:
l3

[10, 20, [30, 40, [50, 60], 80], 90, 50, 50, 100, 50]

In [97]:
l3[2][2].insert[0]

[10, 20, [30, 40, [50, 60], 80], 90, 50, 50, 100, 50]

In [101]:
l2 = [1,2,[3,4,5,6],9]

In [102]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2].insert(2,70)

In [103]:
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [106]:
l2 = [1,2,[3,4,5,6],9]
l2[2]

[3, 4, 5, 6]

In [109]:
l2[2].insert(4,[7,8])

In [112]:
l2

[1, 2, [3, 4, 5, 6, [7, 8], [7, 8]], 9]

In [116]:
l2[3]

9

In [127]:
l2[2][4].insert(3,[10,12])
l2

[1, 2, [3, 4, 5, 6, [7, 8, 10, [10, 12], 10], [7, 8]], 9]